{#
/**
 * @file
 * Theme override for displaying the list of cats.
 *
 * Available variables:
 * - query: The query data to be displayed.
 */
#}
<table id="cats-table">
  <thead>
  <tr>
    <th>{{ 'Name Cat'|t }}</th>
    <th>{{ 'Select'|t }}</th>
    <th>{{ 'User Email'|t }}</th>
    <th>{{ 'Photo Cat'|t }}</th>
    <th>{{ 'Created'|t }}</th>
    {% if is_admin %}
      <th>{{ 'Operations'|t }}</th>
    {% endif %}
  </tr>
  </thead>
  <tbody>
  {% for row in content %}
    <tr>
      <td>{{ row.checkbox }}</td>
      <td>{{ row.cat_name }}</td>
      <td>{{ row.user_email }}</td>
      <td><div class="image-container" id="image-container-{{ row.id_image }}"><img class="responsive-image" id="responsive-image-{{ row.id_image }}" src="{{ row.cats_image }}" alt="Cat Image"></div></td>
      <td>{{ row.created }}</td>
      {% if is_admin %}
      <td>{{ row.control }}</td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
<div class="bulk-deletion" >{{ bulk_deletion }}</div>
